* {
    margin: 0;
    padding: 0;
    list-style: none;
}

h1,
h2,
h3,
h4 {
    font-family: 'EB Garamond', serif;
}

h1 {
    font-size: 80px;
    line-height: 1;
}

h2 {
    font-size: 60px;
    line-height: 1.1;
}

h3 {
    font-size: 42px;
    line-height: 1.2;
}

h4 {
    font-size: 28px;
    line-height: 1.2;
}

body,
p,
a {
    font-size: 20px;
}

a {
    text-decoration: none;
}

.mainContainer {
    max-width: 1440px;
    width: 100%;
    box-sizing: border-box;
    padding: 0 20px;
    margin: 0 auto;
}

img {
    max-width: 100%;
    width: 100%;
    border: none;
    vertical-align: middle;
}

span.lineBr {
    display: block;
}

body,
p,
a span,
input,
button,
textarea,
form {
    font-family: 'Open Sans', sans-serif;
}

//COLOR CODE STYLE========================================

$mainBgColor: #f8eed3;
$secondaryBgColor: #1e2875;

$mainTextColor: #f8eed4;
$secondaryTextColor: #1e2875;

$btnBgColor : #e185a9;




//DEFAULT RESUABLE MIXIN CODE HERE========================
@mixin div-flex($items: center, $justify: space-between) {
    display: flex;
    align-items: $items;
    justify-content: $justify
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

//GENERAL STYLE CODE HERE=================================
body {
    background-color: $mainBgColor;
    color: $secondaryTextColor;
}


.btn {
    background-color: #e185a9;
    color: #fff;
    padding: 9px 25px;
    display: inline-block;
}

.bg-pink {
    background-color: #e185a9;
}

.bg-paste {
    background-color: #95c1e2;
}

//Nav STYLE CODE HERE=================================
.header-wrap {
    background-color: $secondaryBgColor;
}

.nav {
    @include div-flex();
    gap: 30px;
    padding: 20px 30px;

    ul {
        @include div-flex();
        width: 50%;

        li {
            display: inline-block;

            a {
                display: block;
                padding: 8px 13px;
                margin: 0 10px;
                text-decoration: none;
                color: $mainTextColor;
                cursor: pointer;
            }
        }
    }
}


//BANNER  STYLE CODE HERE=================================

.banner-section {
    background-color: $secondaryBgColor;

    .banner-inner {
        .mainContainer * {
            flex: 1;
        }

        display: flex;
        gap: 50px;

        .banner-left {
            width: 50%;
            position: relative;

            img {
                width: 90%;
                height: 100%;
                object-fit: cover;
                object-position: center;
                min-width: 90%;
                min-height: 100%;
            }
        }

        .banner-right {
            width: 50%;
            display: inline-flex;
            flex-direction: column;
            justify-content: center;
            align-items: self-start;

            h1 {
                color: $mainTextColor;
            }

            p.banner-text {
                color: $mainTextColor;
                margin: 20px 0 40px;
            }

        }
    }
}


// CHOOSE SECTION STYLE CODE HERE=================================

section.choose-section {
    padding: 70px 0;

    .choose-section-inner {
        @include div-flex();

        .list-type-text {
            ul {
                li {
                    @include div-flex($justify: start);
                    gap: 20px;
                    margin: 20px 0;

                    img {
                        max-width: 27px;
                    }
                }
            }
        }
    }

}

// QUOTE SECTION STYLE CODE HERE=================================

.quote-section {
    padding: 70px 0;
    height: 300px;
    background-image: url("/assets/images/third-bg.jpg");
    background-color: $secondaryBgColor;
    background-size: cover;
    background-position: center;
    background-blend-mode: overlay;
    color: $mainTextColor;
    @include div-flex($justify: center);

    .quote-section-inner {
        @include div-flex($justify: center);

        .quote {
            text-align: center;

            img.icon-quote {
                max-width: 50px;
            }

            h3 {
                font-weight: 400;
                margin: 20px 0 40px;
            }

            h4 {
                font-weight: 400;
                font-style: italic;
            }
        }
    }
}


//Product section code start here===========

section.product-section {
    @include div-flex($justify: center);

    .quote-section-inner {
        position: relative;
        z-index: 1;

        .produt-bg {
            background-image: url("/assets/images/fourth-bg.jpg");
            background-size: cover;
            width: 25%;
            position: absolute;
            height: 100%;
            top: 0;
            left: 20px;
            bottom: 0;
            z-index: 1;
        }


        .product {
            position: relative;
            z-index: 2;
            padding: 70px 0;
            padding-left: 30%;

            .headline {
                @include div-flex();


                .carousel-icons {
                    a {
                        display: inline-block !important;
                        width: 30px;
                        height: 30px;
                        text-align: center;
                        border: 1px solid grey;
                        color: grey;
                        border-radius: 50%;
                        line-height: 26.5px;

                        i {
                            font-size: 14px;
                        }
                    }
                }


            }

            .carousel-wrap {
                padding: 55px 0;

                .owl-carousel .owl-stage-outer {
                    margin-left: -22%;
                }

                .single-product-item {
                    display: inline-flex;
                    max-width: 500px;

                    >div {
                        width: 50%;
                        gap: 20px;
                        flex: 1;
                    }

                    p {
                        font-size: 14px;
                    }

                    .product-left {
                        padding: 30px 15px 0 24px;
                        background-color: rgba(255, 255, 255, 0.7);
                    }

                    .product-right {
                        @include div-flex($justify: center);
                        flex-direction: column;
                        padding: 20px;
                    }
                }
            }

            .all-product-link-wrap {
                a {
                    text-decoration: underline;
                    color: $secondaryTextColor;
                    text-underline-offset: 3px;
                }
            }


        }
    }
}




//Store section code start here===========

.store-section {
    padding: 90px 0;
    background-color: $secondaryBgColor;

    .heading {
        text-align: center;
        margin: 0 0 50px;

        h2 {
            color: $mainTextColor;
        }
    }

    .store {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 60px;

        .bottom-div {
            padding: 30px;
            background-color: #fff;
            text-align: center;

            p {
                margin-bottom: 30px;
            }
        }
    }
}

//Video section code start here===========

.video-section {
    .video-section-inner {
        .video {
            display: flex;

            >div {
                flex-grow: 1;
            }

            .left-video {
                width: 75%;

                .video-container {
                    position: relative;
                    width: 100%;
                    padding-bottom: 56.25%;
                    overflow: hidden;


                    .video-overlay {
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        cursor: pointer;
                        background-image: url("./assets/images/video-overlay.jpg");
                        background-position: center;
                        background-size: cover;
                        z-index: 99999999;
                        i {
                            font-size: 90px;
                            color: $mainTextColor;
                        }
                    }

                    iframe {
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                    }

                }

            }

            .right-bg-part {
                width: 25%;
                background-image: url("/assets/images/video-bg.jpg");
                background-size: cover;
                background-position: center;
            }
        }
    }
}