* {
    margin: 0;
    padding: 0;
    list-style: none;
}

h1,
h2,
h3,
h4 {
    font-family: 'EB Garamond', serif;
}

h1 {
    font-size: 80px;
    line-height: 1.1;
}

h2 {
    font-size: 60px;
    line-height: 1.2;
}

h3 {
    font-size: 42px;
    line-height: 1.2;
}

h4 {
    font-size: 32px;
    line-height: 1.2;
}

body,
p,
a {
    font-size: 20px;
}

a {
    text-decoration: none;
}

.mainContainer {
    max-width: 1440px;
    box-sizing: border-box;
    padding: 0 20px;
    margin: 0 auto;
}

img {
    vertical-align: middle;
}
span.lineBr {
    display: block;
}

body,
p,
a span,
input,
button,
textarea,
form {
    font-family: 'Open Sans', sans-serif;
}

//COLOR CODE STYLE========================================

$mainBgColor: #f8eed3;
$secondaryBgColor: #1e2875;

$mainTextColor: #f8eed4;
$secondaryTextColor: #1e2875;

$btnBgColor : #e185a9;


//DEFAULT RESUABLE MIXIN CODE HERE========================
@mixin div-flex($items: center, $justify: space-between) {
    display: flex;
    align-items: $items;
    justify-content: $justify
}

ul{
    margin: 0;
    padding: 0;
    list-style: none;
}

//GENERAL STYLE CODE HERE=================================
body {
    background-color: $mainBgColor;
    color: $secondaryTextColor;
}


.btn {
    background-color: #e185a9;
    color: #fff;
    padding: 9px 25px;
    display: inline-block;
}

//Nav STYLE CODE HERE=================================
.header-wrap {
    background-color: $secondaryBgColor;
}

.nav {
    @include div-flex();
    gap: 30px;
    padding: 20px 30px;

    ul {
        @include div-flex();
        width: 50%;

        li {
            display: inline-block;

            a {
                display: block;
                padding: 8px 13px;
                margin: 0 10px;
                text-decoration: none;
                color: $mainTextColor;
                cursor: pointer;
            }
        }
    }
}


//Banner  STYLE CODE HERE=================================

.banner-section {
    background-color: $secondaryBgColor;

    .banner-inner {
        .mainContainer * {
            flex: 1;
        }

        display: flex;
        gap: 50px;

        .banner-left {
            width: 50%;
            position: relative;

            img {
                width: 90%;
                height: 100%;
                object-fit: cover;
                object-position: center;
                min-width: 90%;
                min-height: 100%;
            }
        }

        .banner-right {
            width: 50%;
            display: inline-flex;
            flex-direction: column;
            justify-content: center;
            align-items: self-start;

            h1 {

                color: $mainTextColor;
            }

            p.banner-text {
                color: $mainTextColor;
                margin: 20px 0 40px;
            }

        }
    }
}


// SECTION 2 STYLE CODE HERE=================================

section.choose-section {
    padding: 70px 0;
    .choose-section-inner {
        @include div-flex();
    }
    .list-type-text {
        ul {
            li {
                @include div-flex($justify: start);
                gap: 20px;
                margin: 20px 0;
            }
        }
    }
}

